{% extends "base.html" %} {% block main %}
<font color="teal"><h1 align="center">
		<span>請求ページ</span>
	</h1></font>

<br>
<div class="kakomi-te1 float">

	<span class="title-maru4"><script type="text/javascript">
document.write("Today <br>");
</script></span>

	<script type="text/javascript">
  today = new Date();
  year = today.getFullYear();
  month = today.getMonth()+1;
  day = today.getDate();
  document.write(year,"年");
  document.write(month,"月");
  document.write(day,"日");
</script>

</div>
<div class="float1">
	<table class="t2_2" align="center">
		<body>{% for member in object_list %}
		<tr>
			<th>請求先ID</th>
			<td>{{ member.cmpId }}</td>
		</tr>

		<tr>
			<th>合計</th>
			<td><script type="text/javascript">
              re = {{ billbase.remain }};
              am = {{ billbase.amount }};
              document.write(re+am);
            </script></td>
		</tr>

		{% endfor %}
		</body>
	</table>
</div>
<br>
<br>
<br>
<br>
<div align="left">
	<a href="{% url 'select' %}/{{member.cmpId}}" class="btn-animation-02"><span>戻る</span></a>
</div>
{% endblock %}
