{% extends "base.html" %}
<html>
<head>
<title>コーナーA</title>
</head>

{% block main %}
<div class = "kokuban-s2" align="center" ><p>コーナーA</p></div>

<div>
<br>
<a href="{% url 'mrshow' pk year month day %}" class="btn-animation-13"><span>戻る</span></a>
</div>

<div class ="float5">
{% load static %}
<br>
<img src="{% static "Reservation/コーナーA.jpg" %}" alt="コーナーA" width="400" height="250">
</div>

<div class ="box2 float3" align="center">
<div align="center">
<form action="{% url 'cora' pk year month day %}" method="post">
{% csrf_token %}
<br>
<br>
<table class ="t2">
{{ form.as_table }}
</table>
</div>


<div>
<br>
<br>
<button type="submit" onclick='return confirm("本当に確定しますか？\n確定以後内容を削除する場合は\n予約一覧でお願いします。");'>
<input type = "submit" class ="btn" value="確定">
</form>
</div>
<div>
{% endblock %}

</html>