<html>
<head>
<title>大会議室</title>
</head>

{% block title %} 大会議室 {% endblock %}

<div>
<a href="{% url 'mrshow' %}">戻る</a>
</div>

<div>
{% load static %}
<br>
<img src="{% static "Reservation/大会議室.jpg" %}" alt="大会議室" width="400" height="250">
</div>

<div>

<form action="{% url 'mrbig'%} method="post">
{% csrf_token &}

<br>
<br>
<input type="button" name="button_time" value="一時間">
<input type="button" name="button_half" value="半日">
<input type="button" name="button_day" value="一日">

</form>
</div>

</html>