<html>
<head>
<title>大会議室</title>
</head>

{% block title %} 大会議室 {% endblock %}

{% block main %}
 <div>
   <br>
   <p>{{ year }}年 {{ month }}月 {{ day }}日</p>
    <a href="{% url 'mrshow' pk year month day %}">戻る</a>
 </div>

 <div>
  {% load static %}
  <br>
  <img src="{% static "Reservation/大会議室.jpg" %}" alt="大会議室" width="400" height="250">
 </div>

 <div style="position:absolute; top:100px; left:500px;">
  <form action="{% url 'mrbig' pk year month day %}" method="post">
    {% csrf_token %}
    <br>
    <br>
    <table>
        <p>企業名：{{ member }}</p>
        {{ form.as_table }} 
    </table>
 </div>

 <div style="position:absolute; top:400px; left:700px;">
   <input type = "submit"  value="確定">
  </form>
 </div>
 
 {% if messages %}
     <ul class="messages">
         {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
 {% endif %}

{% endblock %}

</html>