<html>
<head>
<title>大会議室</title>
</head>

{% block title %} 大会議室 {% endblock %}

<div>
<br>
<a href="{% url 'mrshow' %}">戻る</a>
</div>

<div>
{% load static %}
<br>
<img src="{% static "Reservation/大会議室.jpg" %}" alt="大会議室" width="400" height="250">
</div>

<div style="position:absolute; top:100px; left:500px;">
<form action="{% url 'mrbig'%} method="post">
{% csrf_token %}
<br>
<br>
<table>
{{ form }} 
{{ form_time }}
</table>
</div>

<div style="position:absolute; top:300px; left:700px;">
<input type = "submit" />
</form>
</div>

</html>