<!doctype html>
<html>
{% block title %} 会議室一覧 {% endblock %}

{% block main %}

<div>
<br>
<a href="{% url 'index' %}">戻る</a>
</div>

<div>
{% load static %}
<br>
<img src="{% static "Reservation/大会議室.jpg" %}" alt="大会議室" width="300" height="200" hspace="10"><img src="{% static "Reservation/中会議室.jpg" %}" alt="中会議室" width="300" height="200" hspace="10"><img src="{% static "Reservation/小会議室.jpg" %}" alt="小会議室" width="300" height="200" hspace="10">
</div>

<div>
<form action="{% url 'mrshow'%} method="post">
<br>
<a href="{% url 'mrbig' %}">大会議室</a>
<a href="{% url 'mrmid' %}">中会議室</a>
<a href="{% url 'mrsml' %}">小会議室</a>
</div>

<div>
{% load static %}
<br>
<img src="{% static "Reservation/コーナーA.jpg" %}" alt="コーナーA" width="300" height="200" hspace="10"><img src="{% static "Reservation/コーナーB.jpg" %}" alt="コーナーB" width="300" height="200" hspace="10">
<br>
<br>
<a href="{% url 'cora' %}">コーナーA</a>
<a href="{% url 'corb' %}">コーナーB</a>
<br>
<br>
</div>
</form>

<div style="position:absolute; top:100px; left:1100px;">
<table border="1">
<tr>
<th>会議室名</th>
<th>開始時間</th>
<th>終了時間</th>
</tr>

<tbody>
{% for reserve in object_list %}
<tr>
<td>{{ reserve.mrName }}</td>
<td>{{ reserve.start_time }}</td>
<td>{{ reserve.end_time }}</td>
{% endfor %}
</tbody>
</table>
</div>

<div style="position:absolute; top:200px; left:1200px;">
<input type = "submit"  value="予約確定">
</div>

{% endblock %}
</html>