<html>
<head>
 <title>小会議室</title>
</head>

{% block title %} 小会議室 {% endblock %}

{% block main %}
 <div>
  <br>
  <h1>{{ year }}年 {{ month }}月 {{ day }}日</h1>
    <a href="{% url 'mrshow' pk year month day %}">戻る</a>
 </div>

 <div>
  {% load static %}
  <img src="{% static "Reservation/小会議室.jpg" %}" alt="小会議室" width="400" height="250">
 </div>

<div style="position:absolute; top:120px; left:500px;">
  <form action="{% url 'mrsml' pk year month day %}" method="POST">
     {% csrf_token %}
     <br>
     <br>
     <table>
        <p>企業名：{{ member }}</p>
        {{ form.as_table }} 
     </table>
</div>

<div style="position:absolute; top:400px; left:700px;">
  <input type = "submit" value="確定">
 </form>
</div>

  {% if messages %}
     <ul class="messages">
         {% for message in messages %}
             <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
         {% endfor %}
     </ul>
  {% endif %}

{% endblock %}

</html>