{% extends 'calenderbase.html' %}
 
{% block content %}
<table width= "900">
<tr>
<td>
{{ month_current | date:"Y年m月" }}<br>


{%if month_current.month == month_max%}
	  <a href="{% url 'month' pk month_previous.year month_previous.month %}">前月</a>
  	  <a href="{% url 'reserve_calender' pk  %}">今月</a>
 {%elif month_current.month == month_min%}
 	&emsp;&emsp;
 	 <a href="{% url 'reserve_calender' pk  %}">今月</a>
    <a href="{% url 'month' pk month_next.year month_next.month %}">次月</a>
  
  {%else%}
    <a href="{% url 'month' pk month_previous.year month_previous.month %}">前月</a>
   <a href="{% url 'reserve_calender' pk  %}">今月</a>
    <a href="{% url 'month' pk month_next.year month_next.month %}">次月</a>
  {%endif%}
 

    <table class="table">
 
        <thead>
        <tr>
            {% for w in week_names %}
                <th>{{ w }}</th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for week in month_days %}
            <tr>
                {% for day in week %}
                <td>
                {%if month_current.month >= now.month and month_current.year >= now.year%}	
                
                <script>
                	var flag = 5;
                
                	var Max = 6;
                	var Min = 6;
                	var Mid = 6;
                	var A = 7;
                	var B = 7;
                  var start_time = 0;
                  var end_time = 0;
               	var sum = 0;
               	
             	{%for reserve in object_list%}
 						
 						
                 	  {%if reserve.date.month == day.month	and reserve.date.day == day.day%}
                	    start_time = {{reserve.start_time.hour}}
                	    end_time = {{reserve.end_time.hour}}
                	  	flag =flag-1;
                	 
                	 		
            if(start_time == "9"){
            	if(end_time == "16"){
        	sum = sum + 7;
          }else{
          var diff = end_time-start_time;
      		sum = sum+diff;
          }
          }else{
          var diff = end_time-start_time;
      		sum = sum+diff;
      		}
              
                		
                	{%endif%}
                	{%endfor%}
                	
          
           
         
      
                if(sum > 32){
                	document.write("☓");
                	}else if(flag != 5){
              		document.write("△");
              	}
              	else if(flag == 5)
              		document.write("○");
                	
                	</script>
                		
                 	{%endif%}
                 	
                  	
                 
              
                   
				{%if month_current.month >= now.month and month_current.year >= now.year%}	
                {% if month_current.month != day.month %}
                   <a href="{% url 'date' pk month_current.year month_current.month  day.day %}">  {{ day | date:"m/d" }}</a>
                {% else %}
                   <a href="{% url 'date' pk month_current.year  month_current.month  day.day %}"> {{ day.day }}</a>
                {% endif %}
 					{%else%}
 					 {% if month_current.month != day.month %}
                    {{ day | date:"m/d" }}
                {% else %}
                    {{ day.day }}
                 {%endif%}
                 {%endif%}
                </td>
             	
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </td>
    <td>
    
    
   Today:{{now}}<br> 
  
      {% for reserve in object_list  %}
   		{%if reserve.cmpId == pk and reserve.date >= now%}
  
   	 {{ reserve.date }}に予約が有ります<br>
   	{%endif%}
   
     {% endfor %}
   
     
 
    <a href="{% url 'reserve_calender'  %}">戻る</a>
     <a href="{% url 'reserve_list'  %}">一覧</a>
     
     </td>
   </tr>
   </table>
{% endblock %}
