.box5 {
	padding: 0;
	margin-left: 300px;
	margin-right:300px;
	border: double 5px #4ec4d3;
}

.box5 p {
	margin: 0;
	padding: 0;
}

.btn-square {   /*押し込み式ボタン*/
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn-square:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

